// Colours
$color-black:#000;
$color-primary:#2A0800;
$color-shade1:#775144;
$color-shade2:#C09891;
$color-shade3:#BEA8A7;
$color-contrasting:#F4DBD8;
$color-white:#FFF;

// Spacing
$spacer-0:0px;
$spacer-1:10px;
$spacer-2:20px;
$spacer-3:30px;
$spacer-4:40px;
$spacer-md:5px;

// Fonts
$font-md:16px;
$font-lg:20px;
$font-xlg:24px;
$font-logo:40px;